<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="filename">accounts/transactions.log</Property>
	</Properties>
	<Appenders>
		<File name="MyFile" fileName="logs/transactions.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="MyFile" />
		</Root>
	</Loggers>
</Configuration>