@charset "ISO-8859-1";

#legs{
	text-align: right;
	color: orange;
}

.headers{
	color: purple;
	font-size: 28px;
}

body{
	background-color: coral;
}
/* this is how you comment */
/* # is for id selection */
/* . is for class selection */